.main-nav{
	width: 100%;
	-webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
	border-bottom-width: 0;

	ul{ padding:0; margin:0 auto;

		@media (min-width: $largest-breakpoint){
			width:$largest-breakpoint;
			height: 54px;
		}
		
		@media (min-width: 55em){
			width:80em;	
		}
	}
	li{ height: 54px; }
	li h1{ margin: 0; background: url("../images/logo_nav.png") 50% 13px no-repeat; background-size: 47px 30px; }
	li h1 a{ padding: 0; }
	li:first-child{ margin-top:0; }
	a{ display:block; text-align:center; height: 100%; }
	
	@media (min-width:40em){
		ul { @include clearfix; }
		li { float:left; margin-left:1em; margin-top:0; }
		li:first-child{ margin-left:0; }
		a{ padding:0em 0.5em; text-align:left; color: #aaa;}	
	}
}

a.active{ color: #222; }
.branding{ width:80px; height: 54px; }
.nav_link{ letter-spacing: 1px; padding: 1.357em .750em 1.286em; text-transform: uppercase; font: .875em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif; text-decoration: none; margin-top: 1.5em; }